name: Deploy React Frontend to AWS S3

on:
  push:
    branches: [ "**" ] 
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Dependencies
        run: |
          cd frontend
          npm install

      - name: Build React App
        run: |
          cd frontend
          npm run build
        env:
          
          REACT_APP_API_URL: http://cbb-scoreboard-frontend.s3-website.us-east-2.amazonaws.com

      - name: Configure AWS Credentials
        if: github.ref == 'refs/heads/main' 
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2 

      - name: Deploy to S3
        if: github.ref == 'refs/heads/main'
        run: |
          aws s3 sync frontend/dist s3://${{ secrets.AWS_S3_BUCKET_NAME }} --delete