name: CI/CD Pipeline

on:
  push:
    branches: [ "**" ] 
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET 10
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'
          dotnet-quality: 'preview'
      
      - name: Build
        run: dotnet build --configuration Release

  deploy:
    if: github.ref == 'refs/heads/main'
    needs: build-and-test 
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET 10
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'
          dotnet-quality: 'preview'

      - name: Publish
        run: dotnet publish -c Release -o ./publish /p:UseAppHost=false

      - name: Deploy to Azure
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'cbb-scoreboard-backend'
          publish-profile: ${{ secrets.AZURE_BACKEND_PUBLISH_PROFILE }}
          package: ./publish